<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
<form method="POST" action="/updateOne">
  <input type="hidden" name="id" value="{{data._id}}">
    <div>
        <label for="uname">Nom du bien:</label>
        <input type="text" id="uname" name="name" value="{{data.name}}">
    </div>
    <div>
        <label for="uname">Description du bien</label>
        <input type="textarea" id="uname" name="description" value="{{data.description}}">
    </div>
    <div>
        <label for="uname">Nom de l'hôte:</label>
        <input type="text" id="uname" name="host_name" value="{{data.host_name}}">
    </div>
    <div>
        <label for="uname">Localisation</label>
        <input type="text" id="uname" name="host_location" value="{{data.host_location}}">
    </div>
    <a href="javascript:window.history.go(-1)">[ Retour ]</a>
    <div>
        <input type="submit" value="Envoyer" />
    </div>
</form>
</body>
</html>
