<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
<table>
    <thead>
    <th>Nom du bien</th>
    <th>Description du bien</th>
    <th>Nom de l'hôte</th>
    <th>Localisation</th>
    </thead>
    <tbody>
    {{#data}}
        <tr onclick="document.location = '{{_id}}';">
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{host_name}}</td>
            <td>{{host_location}}</td>
        </tr>
    {{/data}}
    </tbody>
</table>
</body>
</html>
