<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
<table>
    <thead>
    <th>Nom du bien</th>
    <th>Description du bien</th>
    <th>Nom de l'hôte</th>
    <th>Localisation</th>
    </thead>
    <tbody>
    {{#data}}
        <tr onclick="document.location = '{{_id}}';">
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{host_name}}</td>
            <td>{{host_location}}</td>
        </tr>
    {{/data}}
    </tbody>
</table>
<div>
    <button class="btn" id="previousPage" onclick="previousPage()"><</button>
    <span id="pageInfo"></span>
    <button class="btn" onclick="nextPage()">></button>
</div>
</body>
<script>
    var searchParams = new URLSearchParams(window.location.search);
    document.getElementById("pageInfo").innerHTML = searchParams.get("page") ?? 1;
    if (searchParams.get("page")===null || searchParams.get("page") === "1"){
        document.getElementById("previousPage").hidden = true;
    }
    function nextPage() {
        var url = new URL(document.location.href);
        var search_params = url.searchParams;
        if (isNaN(parseInt(searchParams.get("page")))){
            search_params.set('page', 2);
        }
        else {
            search_params.set('page', parseInt(searchParams.get("page"))+1);
        }
        url.search = search_params.toString();
        document.location = url.toString();
    }
    function previousPage() {
        var url = new URL(document.location.href);
        var search_params = url.searchParams;
        search_params.set('page', parseInt(searchParams.get("page"))-1);
        url.search = search_params.toString();
        document.location = url.toString();
    }
</script>
</html>
